.place__title {
    font-size: 34px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 984px) {
    .place__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 700px) {
    .place__title {
        margin-bottom: 10px;
        padding: 20px 20px;
    }
}