.popup__show {
  right: 0;
  position: fixed;
  display: block;
}

@media screen and (max-width: 600px) {
  .popup__show {
    background: black;
    color: white;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
}
