.header__nav {
  display: flex;
  padding: 0 68px;
  justify-content: space-between;
}

@media screen and (max-width: 984px) {
  .header__nav {
    padding: 0 24px;
  }
}

/*@media screen and (max-width: 539px) {
  .header__nav {
    flex-direction: column;
    position: absolute;
  }
} */
