.header {
  position: fixed;
  padding: 46px 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 984px) {
  .header {
    padding: 24px 0;
  }
}
