.header {
    position: fixed;
    padding: 46px 0;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    background-color: #fff;
}

@media screen and (max-width: 984px) {
    .header {
        padding: 24px 0;
    }
}