.card__text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .card__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 424px) {
  .card__text {
    font-size: 16px;
  }
}
