.footer__copyright {
  align-items: center;
  background: #fecda7;
  display: flex;
  justify-content: center;
  gap: 50px;
  min-height: 620px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .footer__copyright {
    min-height: 320px;
    background: #000000;
    gap: 40px;
  }
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    gap: 30px;
    min-height: 120px;
  }
}
