.header__btn {
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
}

@media screen and (max-width: 570px) {
    .header__btn {
        padding: 0 0 20px;
    }
}