.place__description {
    padding: 0 0 75px 70px;
}

@media screen and (max-width: 984px) {
    .place__description {
        padding: 0 26px 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__description {
        padding: 0;
        margin: 0 16px;
    }
}