.place__description {
    padding: 0 0 86px 70px;
}

@media screen and (max-width: 984px) {
    .place__description {
        padding: 0 26px 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__description {
        padding-right: 16px;
        padding-bottom: 20px;
        padding-left: 16px;
    }
}